In [1]:
import numpy as np
import pandas as pd
from scipy import stats
import seaborn as sns

ModuleNotFoundError: No module named 'scipy'

In [3]:
pip install scipy

Collecting scipy
  Downloading scipy-1.10.1-cp39-cp39-macosx_12_0_arm64.whl (28.9 MB)
     |████████████████████████████████| 28.9 MB 9.1 MB/s eta 0:00:01
Requirement already satisfied: numpy<1.27.0,>=1.19.5 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from scipy) (1.24.3)
Installing collected packages: scipy
Successfully installed scipy-1.10.1
WARNING: You are using pip version 21.2.4; however, version 23.1.2 is available.
You should consider upgrading via the '/usr/local/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [5]:
df = pd.read_csv('/Users/shuoqu/Downloads/new_data.csv')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000000 entries, 0 to 9999999
Data columns (total 10 columns):
 #   Column         Dtype
---  ------         -----
 0   Unnamed: 0     int64
 1   event_time     object
 2   event_type     object
 3   product_id     int64
 4   category_id    int64
 5   category_code  object
 6   brand          object
 7   price          float64
 8   user_id        int64
 9   user_session   object
dtypes: float64(1), int64(4), object(5)
memory usage: 762.9+ MB

In [12]:
brand_conv = df.groupby(['brand','event_type'])['event_time'].count().unstack()

In [14]:
brand_conv['conversion'] = brand_conv['purchase']/brand_conv['view']

In [16]:
brand_conv.dropna(subset = 'conversion', inplace = True)

In [42]:
brand_conv

event_type   cart  purchase      view  conversion
brand
a-case        NaN      17.0    1424.0    0.011938
a-mega        NaN       5.0     121.0    0.041322
acer        531.0    1133.0  106607.0    0.010628
achilles      NaN       7.0     412.0    0.016990
acm           NaN       1.0      87.0    0.011494
...           ...       ...       ...         ...
zinc          NaN       1.0      67.0    0.014925
zlatek        NaN       2.0     499.0    0.004008
zotac         NaN       2.0     134.0    0.014925
zte           NaN      26.0    2081.0    0.012494
zubr          NaN       7.0    2411.0    0.002903

[1417 rows x 4 columns]

In [36]:
brand_conv2 = brand_conv.copy()

In [21]:
df.groupby('category_code')['brand'].nunique()

category_code
accessories.bag         96
accessories.umbrella     3
accessories.wallet       7
apparel.belt             3
apparel.costume          4
                        ..
sport.ski                7
sport.snowboard          7
sport.tennis             8
sport.trainer           16
stationery.cartrige     17
Name: brand, Length: 126, dtype: int64

In [25]:
cat_lookup = df[['category_code','brand']].drop_duplicates()

In [27]:
cat_lookup

                     category_code      brand
0           electronics.smartphone     xiaomi
1        appliances.sewing_machine     janome
2                              NaN      creed
3        appliances.kitchen.washer         lg
5               computers.notebook         hp
...                            ...        ...
9754500                        NaN  citycolor
9785124                        NaN  aquarelle
9914429    appliances.kitchen.oven      nodor
9965308                        NaN       lion
9977018                        NaN      staub

[5768 rows x 2 columns]

In [32]:
brands = pd.merge(left = brand_conv, right=cat_lookup, how = 'left', left_on='brand', right_on='brand')

In [33]:
brands

,brand,cart,purchase,view,conversion,category_code
0,a-case,NaN,17.0,1424.0,0.011938,NaN
1,a-mega,NaN,5.0,121.0,0.041322,NaN
2,acer,531.0,1133.0,106607.0,0.010628,computers.notebook
3,acer,531.0,1133.0,106607.0,0.010628,electronics.tablet
4,acer,531.0,1133.0,106607.0,0.010628,computers.desktop
...,...,...,...,...,...,...
3264,zubr,NaN,7.0,2411.0,0.002903,construction.tools.drill
3265,zubr,NaN,7.0,2411.0,0.002903,appliances.environment.vacuum
3266,zubr,NaN,7.0,2411.0,0.002903,accessories.bag
3267,zubr,NaN,7.0,2411.0,0.002903,construction.tools.saw
3268,zubr,NaN,7.0,2411.0,0.002903,construction.tools.pump

In [35]:
brand_conv[brand_conv['event_type']=='xiaomi']

KeyError: 'event_type'