In [142]:
import pandas as pd
import numpy as np
import seaborn as sns

In [143]:
df = pd.read_csv("/Users/shuoqu/Downloads/sales_data.csv")

In [144]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1050 entries, 0 to 1049
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Product     947 non-null    object
 1   Region      946 non-null    object
 2   Price       945 non-null    float64
 3   Units Sold  946 non-null    float64
 4   Sale Date   1050 non-null   object
dtypes: float64(2), object(3)
memory usage: 41.1+ KB

In [145]:
df.describe(include= "all")

           Product    Region        Price  Units Sold   Sale Date
count          947       946   945.000000  946.000000        1050
unique          50        10          NaN         NaN        1000
top     Product_45  Region_9          NaN         NaN  2022-07-28
freq            28       109          NaN         NaN           2
mean           NaN       NaN   107.598688   10.048626         NaN
std            NaN       NaN   124.020322    3.172261         NaN
min            NaN       NaN     0.200000    2.000000         NaN
25%            NaN       NaN    29.430000    8.000000         NaN
50%            NaN       NaN    78.130000   10.000000         NaN
75%            NaN       NaN   142.570000   12.000000         NaN
max            NaN       NaN  2143.300000   22.000000         NaN

In [146]:
df.head(10)

      Product    Region   Price  Units Sold   Sale Date
0         NaN  Region_6   75.96        10.0  2022-01-01
1         NaN  Region_1  175.78         8.0  2022-01-02
2  Product_46  Region_3   20.43        12.0  2022-01-03
3  Product_36  Region_1   12.77        10.0  2022-01-04
4  Product_17  Region_6  125.69         6.0  2022-01-05
5  Product_45  Region_1    8.63        11.0  2022-01-06
6  Product_31  Region_3   23.73         6.0  2022-01-07
7  Product_18  Region_7   19.27         9.0  2022-01-08
8  Product_16  Region_9   30.70        14.0  2022-01-09
9   Product_9  Region_2  264.05         7.0  2022-01-10

In [147]:
df.tail(10)

         Product     Region   Price  Units Sold   Sale Date
1040  Product_44   Region_9  101.69         NaN  2024-09-11
1041  Product_30   Region_3    8.76        13.0  2024-06-23
1042   Product_6   Region_9   14.36        16.0  2024-08-13
1043  Product_20   Region_6   58.50         9.0  2022-10-06
1044  Product_48  Region_10   23.57         6.0  2024-02-28
1045  Product_45   Region_7   78.69         8.0  2022-07-28
1046   Product_1   Region_6     NaN         8.0  2022-08-02
1047  Product_17   Region_2  114.37        11.0  2023-12-18
1048         NaN   Region_8     NaN         5.0  2023-12-27
1049  Product_16   Region_2   69.30         8.0  2024-02-23

In [148]:
##remove missing value for 'Product'
df.dropna(subset= 'Product', inplace= True)

In [149]:
##check if missing value are removed
print(df['Product'].isnull().sum())

0

In [150]:
##remove missing value for 'Region'
df.dropna(subset= 'Region', inplace= True)

In [151]:
print(df['Region'].isnull().sum())

0

In [152]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 853 entries, 2 to 1049
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Product     853 non-null    object
 1   Region      853 non-null    object
 2   Price       764 non-null    float64
 3   Units Sold  771 non-null    float64
 4   Sale Date   853 non-null    object
dtypes: float64(2), object(3)
memory usage: 40.0+ KB

In [153]:
## remove duplicates
df.drop_duplicates(inplace= True)

In [154]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 810 entries, 2 to 999
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Product     810 non-null    object
 1   Region      810 non-null    object
 2   Price       725 non-null    float64
 3   Units Sold  731 non-null    float64
 4   Sale Date   810 non-null    object
dtypes: float64(2), object(3)
memory usage: 38.0+ KB

In [159]:
sns.boxplot(df['Price'])

KeyError: 0

In [ ]:
df.groupby('Product')['Price'].mean()

In [ ]:
df['Price'] = df['Price'].fillna(df.groupby('Product')['Price'].mean())

In [ ]:
print(df['Price'].isnull().sum())